# Required: The YouTube channel to ingest
CHANNEL_ID=XXXXXXXXXXXXXXXX

# Required: API keys for YouTube and OpenAI
YOUTUBE_API_KEY=XXXXXXXXXXXXXXXX
OPENAI_API_KEY=XXXXXXXXXXXXXXXX

# Optional: Python logging level (default: INFO)
LOG_LEVEL=DEBUG

# Optional: Random seed for numpy, random and torch (default: 42)
SEED=XXXXXXXX

# Optional: the directory in which to store fetched comments, embeddings, etc
# (default: ./data). If you modify this, you may need to change the bind mounts
# in the docker-compose.yml file.
DATA_DIR=/path/to/dir

# Optional: Misc variables to control CUDA, NCCL, HF Transformers, etc
# This isn't an exhaustive list and you may need others depending on your GPUs
# and their setup. We don't control / process these variables; see package docs
HF_HOME=/path/to/dir
NCCL_SHM_DISABLE=1
# NCCL_DEBUG=INFO
# CUDA_VISIBLE_DEVICES=1
